body {
    background-color: #273746;
}

h1, h2, h3, h4, h5, h6, p, th, td, label{
    color: #ffffff;
}

a {
    color: #F1C40F;
    text-decoration: underline;
}

h1, h3, th {
    font-family: 'Courier New';
}

p , a, td, label{
    font-family: 'Arial';
    font-size: 18px;
}

table, th, td {
    border: 2px solid #000000;
    border-collapse: collapse;
    padding: 10px;
}